.top10 {
    top: 10rem;
}

.fz05 {
    font-size: 0.1rem;
}
.carousel-item img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.carousel-caption h5{
    font-size:2rem;
}
.carousel-caption p{
    font-size:1rem;
}